<!DOCTYPE html>
<html lang="en">

    <%- include('header') %>

<body>

   

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-products" id="product-list">

                        <!-- load product -->
                        <% products.forEach(product => { %>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="http://localhost:3333/api/products/<%= product.productId %>/image" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="single-product/<%= product.productId %>" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            
                            <h2><a href="single-product/<%= product.productId %>"><%= product.productName %></a></h2>
                            
                            <div class="product-carousel-price">
                                <ins><%= product.price %></ins> 
                            </div> 
                        </div>
                        <% }); %>
                           <!-- load product -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End main content area -->

 
<%- include('footer') %>

    <script src="https://code.jquery.com/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>


    <script src="js/jquery.easing.1.3.min.js"></script>

    <script src="js/main.js"></script>

    <script type="text/javascript" src="js/bxslider.min.js"></script>
    <script type="text/javascript" src="js/script.slider.js"></script>
        
</body>

</html>